.jumbotron {
    background-color: #CACACA;
    color: rgb(56, 56, 56);
    padding: 2vw;
    margin: 2vw;
    border-radius: 5px;
    box-shadow: 0 0 20px rgb(145, 92, 92);

    h1 {
        font-size: 2em;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
    }

    p {
        font-size: 1em;
        font-family: Arial, Helvetica, sans-serif;
    }
}