<div id="gP-modal" [class]="[visiblityClass]" [style]="topLeftStyling">
  <div id="input-length-div">
    <input
      id="possible-length-input"
      type="number"
      list="possible-lengths"
      [value]="numberOfInput"
      #passwordLengthInput
      (change)="updatePasswordLength(passwordLengthInput)"
    />
    <datalist id="possible-lengths">
      <option>8</option>
      <option>10</option>
      <option>12</option>
      <option>16</option>
      <option>20</option>
      <option>32</option>
    </datalist>
    <div id="arrow-btns-div">
      <img
        class="arrow-btn"
        id="arrow-up-button"
        src="assets/pics/arrow-up.svg"
        (click)="higherNumberOfInput()"
      />
      <img
        class="arrow-btn"
        id="arrow-down-button"
        src="assets/pics/arrow-down.svg"
        (click)="lowerNumberOfInput()"
      />
    </div>
  </div>
  <div id="check-texts-div">
    <div class="check-text-div">
      <input
        type="checkbox"
        checked
        (click)="changeWantNumbers()"
        [disabled]="disabledButInput"
      />
      <p>Nummern (0-9)</p>
    </div>
    <div class="check-text-div">
      <input
        type="checkbox"
        checked
        (click)="changeWantUCLetters()"
        [disabled]="disabledButInput"
      />
      <p>Großbuchstaben (A-Z)</p>
    </div>

    <div class="check-text-div">
      <input
        type="checkbox"
        checked
        (click)="changeWantLCLetters()"
        [disabled]="disabledButInput"
      />
      <p>Kleinbuchstaben (a-z)</p>
    </div>
    <div class="check-text-div">
      <input
        type="checkbox"
        checked
        (click)="changeWantSpecChars()"
        [disabled]="disabledButInput"
      />
      <p>Sonderzeichen(!@#$%^&*()...)</p>
    </div>
    <div class="check-text-div">
      <input
        type="checkbox"
        (click)="changeWantBadChars()"
        [disabled]="disabledButInput"
      />
      <p>ähnliche Zeichen (O0, l1I)</p>
    </div>
  </div>
  <div id="restriction-options">
    <div id="restriction-div">
      <input
        type="text"
        placeholder="gestelltes außer"
        #butInput
        (input)="updateFilterText(butInput.value, 'but')"
        [disabled]="disabledButInput"
      />

      <p class="restriction-text"></p>
      <input
        type="text"
        placeholder="nur folgendes"
        #onlyInput
        (input)="updateFilterText(onlyInput.value, 'just')"
        [disabled]="disabledJustInput"
      />
    </div>
  </div>
</div>
