#gP-modal {
  position: absolute;
  z-index: 90;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 230px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px black solid;
  border-radius: 15px;
  border-top-left-radius: 0;
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#gP-modal #input-length-div {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 30px;
  top: 4%;
}

#gP-modal #input-length-div #possible-length-input {
  position: relative;
  width: 100%;
  height: 100%;
  padding-left: 5px;
  padding-right: 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: gray;
  color: white;
  cursor: pointer;
}

#gP-modal #input-length-div #possible-length-input:focus {
  cursor: text;
}

#gP-modal #input-length-div #possible-length-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

#gP-modal #input-length-div #arrow-btns-div {
  position: absolute;
  right: 6px;
  height: 99%;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#gP-modal #input-length-div #arrow-btns-div .arrow-btn {
  width: 11px;
  z-index: 100;
  cursor: pointer;
  -webkit-transition: -webkit-transform ease 0.1s;
  transition: -webkit-transform ease 0.1s;
  transition: transform ease 0.1s;
  transition: transform ease 0.1s, -webkit-transform ease 0.1s;
}

#gP-modal #input-length-div #arrow-btns-div .arrow-btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-filter: drop-shadow(0 0 5px black);
          filter: drop-shadow(0 0 5px black);
}

#gP-modal #check-texts-div {
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  position: absolute;
  top: 50px;
  row-gap: 10px;
}

#gP-modal #check-texts-div .check-text-div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#gP-modal #check-texts-div .check-text-div input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#gP-modal #check-texts-div .check-text-div p {
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
  color: white;
  font-family: "Comfortaa", cursive;
  font-size: 9pt;
  text-shadow: 0 0 5px black;
}

#gP-modal #restriction-options {
  position: absolute;
  bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 20px;
}

#gP-modal #restriction-options #restriction-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 10px;
}

#gP-modal #restriction-options #restriction-div .restriction-text {
  color: white;
  text-shadow: 0 0 5px black;
  font-family: Arial, Helvetica, sans-serif;
}

#gP-modal #restriction-options #restriction-div input {
  border-radius: 2px;
  border: none;
  font-size: 15pt;
  padding: 5px;
  width: 70%;
}

#gP-modal #restriction-options #restriction-radios {
  position: relative;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.class1 #restriction-div input {
  visibility: hidden;
  opacity: 0;
  display: none;
}

.class3 #check-texts-div {
  visibility: hidden;
  opacity: 0;
  display: none;
}

.visible {
  visibility: visible;
  opacity: 1;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
/*# sourceMappingURL=menu-generate-password.component.css.map */