$offsetY-length-input: 4%;

#gP-modal {
  position: absolute;
  z-index: 90;
  backdrop-filter: blur(10px);

  width: 230px;
  height: 300px;

  background-color: rgba(black, 0.5);

  border: 1px black solid;
  border-radius: 15px;
  border-top-left-radius: 0;

  box-shadow: 0 0 10px black;

  display: flex;
  justify-content: center;

  #input-length-div {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 90%;
    height: 30px;

    top: $offsetY-length-input;

    #possible-length-input {
      position: relative;

      width: 100%;
      height: 100%;

      padding-left: 5px;
      padding-right: 20px;

      border-radius: 5px;
      border: none;
      outline: none;

      background-color: gray;
      color: white;

      cursor: pointer;

      &:focus {
        cursor: text;
      }

      &::-webkit-inner-spin-button {
        appearance: none;
      }
    }

    #arrow-btns-div {
      position: absolute;

      right: 6px;

      height: 99%;
      z-index: 100;

      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-evenly;

      user-select: none;

      .arrow-btn {
        width: 11px;
        z-index: 100;
        cursor: pointer;

        transition: transform ease 0.1s;

        &:hover {
          transform: scale(1.2);
          filter: drop-shadow(0 0 5px black);
        }
      }
    }
  }

  #check-texts-div {
    z-index: 100;

    display: flex;
    flex-direction: column;
    width: 90%;

    position: absolute;
    top: 50px;

    row-gap: 10px;

    .check-text-div {
      width: 100%;
      display: flex;
      justify-content: flex-start;

      input {
        flex: 1;
      }

      p {
        flex: 10;
        color: white;
        font-family: "Comfortaa", cursive;
        font-size: 9pt;
        text-shadow: 0 0 5px black;
      }
    }
  }

  #restriction-options {
    position: absolute;
    bottom: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

    row-gap: 20px;

    #restriction-div {
      display: flex;
      flex-direction: column;
      align-items: center;

      row-gap: 10px;

      .restriction-text {
        color: white;
        text-shadow: 0 0 5px black;
        font-family: Arial, Helvetica, sans-serif;
      }

      input {
        border-radius: 2px;
        border: none;
        font-size: 15pt;
        padding: 5px;
        width: 70%;
      }
    }

    #restriction-radios {
      position: relative;
      width: 30%;
      display: flex;
      justify-content: space-evenly;
    }
  }
}

.class1 {
  #restriction-div {
    input {
      visibility: hidden;
      opacity: 0;
      display: none;
    }
  }
}

.class3 {
  #check-texts-div {
    visibility: hidden;
    opacity: 0;
    display: none;
  }
}

.visible {
  visibility: visible;
  opacity: 1;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
