<div id="outer-body-div">
  <img src="assets/willkommen.png" alt="willkommen" id="w-text" />

  <div id="body-div">
    <div id="btn-div">
      <button (click)="los('map-app')" id="los-btn" class="btn btn-dark">
        <p>LOS GEHT'S!</p>
      </button>
      <button
        (click)="los('uebers-spiel')"
        id="uebers-spiel-btn"
        class="btn btn-dark"
      >
        <p>ÜBER'S SPIEL</p>
      </button>
      <button
        (click)="los('kontaktiere-uns')"
        id="emaile-uns-btn"
        class="btn btn-dark"
      >
        <p>SCHREIB UNS</p>
      </button>
    </div>
    <div id="daniel-div">
      <img src="assets/daniel.png" alt="daniel" id="daniel-img" />
    </div>
  </div>
</div>

<footer>
  <h3>Fitness für Faule!</h3>
</footer>
<script src="home.js"></script>
